<p></p>
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button
        [ngClass]="state?.currentAction?.type==ProductsActionsType.GET_ALL_PRODUCTS_SUCCESS?'btn-danger':'btn-outline-info'"
        class="btn ms-lg-2 btn-sm" (click)="onGetAllProducts()">All
      </button>
    </li>
    <li>
      <button
        [ngClass]="state?.currentAction?.type==ProductsActionsType.GET_SELECTED_PRODUCTS_SUCCESS?'btn-danger':'btn-outline-info'"
        class="btn ms-lg-2 btn-sm" (click)="onGetSelectedProducts()">Selected
      </button>
    </li>
    <li>
      <button
        [ngClass]="state?.currentAction?.type==ProductsActionsType.NEW_PRODUCT_SUCCESS?'btn-danger':'btn-outline-info'"
        class="btn ms-lg-2 btn-sm" (click)="onNewProducts()">New
      </button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ms-lg-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input type="text" ngModel name="keyword">
        <button
          [ngClass]="state?.currentAction?.type==ProductsActionsType.SEARCH_PRODUCTS_SUCCESS?'btn-danger':'btn-outline-info'"
          class="btn btn-sm" type="submit">
          <i class="fa fa-search"></i>
          Search
        </button>
      </form>
    </li>
  </ul>
</nav>
